Repository sethclover/CyLife: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

maven-build:
  stage: mavenbuild
  before_script:
  - export JAVA_HOME=/usr/lib/jvm/java-17-openjdk
  - export PATH=$JAVA_HOME/bin:$PATH
  - export M2_HOME=/home/maven
  - export PATH=$M2_HOME/bin:$PATH
  - echo "JAVA_HOME=$JAVA_HOME"
  - java -version
  - mvn --version
  tags:
  - backend_tag
  script:
  - cd Backend/CyLife
  ...

maven-test:
  stage: maventest
  tags:
  - backend_tag
  script:
  - cd Backend/CyLife
  - mvn test

auto-deploy:
  stage: mavendeploy
  tags:
  - backend_tag
  script:
  - cd Backend/CyLife
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/CyLife/gradlew
  script:
  - cd Frontend/CyLife
  - ./gradlew build

android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/CyLife/gradlew
  script:
  - cd Frontend/CyLife
  - ./gradlew test

fixed join club back button
  Frontend/CyLife/.gradle/8.7/executionHistory/executionHistory.lock
  Frontend/CyLife/.gradle/8.7/fileHashes/fileHashes.lock
  Frontend/CyLife/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Frontend/CyLife/.gradle/file-system.probe
  Frontend/CyLife/app/src/main/java/com/example/cylife/JoinClubActivity.java
Due: android-build, android-test

Tests added for chat
  Backend/CyLife/src/Test/java/CyLife/ChatSocketTest.java
  Backend/CyLife/src/main/java/CyLife/Websockets/chat/ChatSocket.java
Due: maven-build, maven-test, auto-deploy

test cases added
  Backend/CyLife/src/Test/java/CyLife/EventControllerTest.java
  Backend/CyLife/src/Test/java/CyLife/JoinClubControllerTest.java
  Backend/CyLife/src/Test/java/CyLife/SethSystemTest.java
  Backend/CyLife/src/main/java/CyLife/Events/EventController.java
Due: maven-build, maven-test, auto-deploy

changes joinClubController info
  Backend/CyLife/src/main/java/CyLife/Websockets/joinClub/JoinClubController.java
Due: maven-build, maven-test, auto-deploy

club welcome tests
  Frontend/CyLife/app/src/androidTest/java/com/example/cylife/WelcomeClubTest.java
Due: android-build, android-test

Added tests
  Backend/CyLife/src/Test/java/CyLife/UserControllerTest.java
  Backend/CyLife/src/main/java/CyLife/Users/UserController.java
Due: maven-build, maven-test, auto-deploy

Finished the User Test Cases
  Backend/CyLife/src/Test/java/CyLife/UserControllerTest.java
Due: maven-build, maven-test, auto-deploy

more tests cases for high enough percent
  Backend/CyLife/src/Test/java/CyLife/EventControllerTest.java
  Backend/CyLife/src/Test/java/CyLife/JoinClubControllerTest.java
Due: maven-build, maven-test, auto-deploy

Initial commit
  README.md
Due: none

Update README.md
  README.md
Due: none

removed test directory and updated .gitignore
  Documents/.gitignore
Due: none

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  auto-deploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android-test: any of: Frontend/**/*
