Repository sethclover/CyLife: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, auto-deploy, android-build, android-test

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  auto-deploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android-test: any of: Frontend/**/*

Gradle modified with proper dependencies for tests
  Frontend/CyLife/.gradle/8.7/fileHashes/fileHashes.lock
  Frontend/CyLife/.gradle/config.properties
  Frontend/CyLife/.gradle/file-system.probe
  Frontend/CyLife/app/build.gradle
  Frontend/CyLife/app/src/androidTest/java/com/example/cylife/ExampleInstrumentedTest.java
Due: android-build, android-test

finished formatting
  Frontend/CyLife/app/src/main/res/layout/activity_club_create_event.xml
Due: android-build, android-test

event creation
  Frontend/CyLife/app/src/main/java/com/example/cylife/ClubCreateEvent.java
  Frontend/CyLife/app/src/main/res/layout/activity_club_create_event.xml
Due: android-build, android-test

maven
  .gitlab-ci.yml
Due: none

Club tests are done, user tests are left
  Backend/CyLife/src/Test/java/CyLife/ClubControllerTest.java
  Backend/CyLife/src/Test/java/CyLife/UserControllerTest.java
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubController.java
Due: maven-build, maven-test, auto-deploy

events now point to clubs and upcoming events shows all events for every club a student is in
  Backend/CyLife/src/main/java/CyLife/Events/Event.java
  Backend/CyLife/src/main/java/CyLife/Events/EventController.java
  Backend/CyLife/src/main/java/CyLife/Events/EventRepository.java
Due: maven-build, maven-test, auto-deploy

Club added
  Frontend/CyLife/app/src/main/res/layout/activity_welcome_student.xml
Due: android-build, android-test

get club members by club id
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubController.java
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubRepository.java
Due: maven-build, maven-test, auto-deploy

Test for club
  Backend/CyLife/src/Test/java/CyLife/ChatSocketTest.java
Due: maven-build, maven-test, auto-deploy

added get clubId by clubEmail
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubController.java
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubRepository.java
Due: maven-build, maven-test, auto-deploy

Feature when you create a club it will autocreate a user with type CLUB.
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubController.java
Due: maven-build, maven-test, auto-deploy

Update ClubController.java
  Backend/CyLife/src/main/java/CyLife/Clubs/ClubController.java
Due: maven-build, maven-test, auto-deploy

tests... a lot of tests...
  Backend/CyLife/src/Test/java/CyLife/ClubControllerTest.java
  Backend/CyLife/src/Test/java/CyLife/UserControllerTest.java
Due: maven-build, maven-test, auto-deploy
